
<div class= "span1 pull-left">
	
</div>	 
<div class="span6 pull-left">
 <div class="hero-unit" >
    <h1>Crossover calculator</h1>
<!--<a href="#" class="btn btn-warning btn-large">2-way Crossover  <i class="icon-volume-up"></i></a>
<button type="button" class="btn btn-warning">back</button>-->
	<div class="offset1">
	<%= form_tag do %>
		<br />
		<h4>Select 2-way or 3-way crossover:</h4>
	   	<br />
	   	<div class="offset1">
	   	<%= link_to '2-way Crossover', main_twoway_path, :class => "btn btn-info btn-large"%>&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;		
	   	<%= link_to '3-way Crossover', main_threeway_path, :class => "btn btn-warning btn-large"%>&nbsp;
	   	</div>
	<% end %>
	
	 </div>
 </div>
</div>

          <div class="span2 pull-right sidebar-nav">
            <ul class="nav nav-list">
			    <li class="nav-header">What we are?</li>
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Our Clients</a></li>
			    <li><a href="#">Our Services</a></li>
			    <li><a href="#">About Us</a></li>
			    <li><a href="#">Contact Us</a></li>
			    <li class="nav-header">Our Friend</li>
			    <li><a href="#">Google</a></li>
			    <li><a href="#">Yahoo!</a></li>
			    <li><a href="#">Bing</a></li>
			    <li><a href="#">Microsoft</a></li>
			    <li><a href="#">Gadgetic World</a></li>
			</ul>
          </div><!--/.well -->
       


