
<div class= "span1 pull-left">
	
</div>	 
<div class="span6 pull-left">
 <div class="hero-unit" >
    <h1>Crossover calculator</h1>
<!--<a href="#" class="btn btn-warning btn-large">2-way Crossover  <i class="icon-volume-up"></i></a>
<button type="button" class="btn btn-warning">back</button>-->
	<div class="offset1">
	<%= form_tag do %>
		<br />
		<h4>Select 2-way or 3-way crossover:</h4>
	   	<br />
	   	<div class="offset1">
	   	<%= link_to '2-way Crossover', main_twoway_path, :class => "btn btn-info btn-large"%>&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;		
	   	<%= link_to '3-way Crossover', main_threeway_path, :class => "btn btn-warning btn-large"%>&nbsp;
	   	</div>
	<% end %>
	
	 </div>
 </div>
</div>

         <div class="span2 pull-right sidebar-nav">
            <ul class="nav nav-list">
			    <li class="nav-header">Links</li>
			    <li class="active"><%= link_to "Home", main_home_path %></li>
			    <li><a href="http://reubenlecea.info/" target="_blank">About Me</a></li>
			    <li><a href="http://reubenlecea.info/" target="_blank">Contact Me</a></li>
			    <li class="nav-header">Cool Stuff</li>
			    <li><a href="http://www.parts-express.com/" target="_blank">Parts Express</a></li>
			    <li><a href="http://guides.rubyonrails.org/" target="_blank">Ruby on rails</a></li>
			    <li><a href="http://www.radiolab.org/" target="_blank">Radio Lab</a></li>
			    <li><a href="http://www.diyaudioandvideo.com/" target="_blank">diy audio</a></li>
			    <li><a href="http://www.engadget.com/" target="_blank">engadget</a></li>
			</ul>
          </div><!--/.well -->


