<div class="span10 pull-left">
	<div class="hero-unit">
	    <h1>Enclosure Calculator</h1>
	 
	    <p>Cras justo odio, dapibus ac facilisiscondimentum nibh, ut fermentum massa justo sit amet risus.</p>
	 
	    <a href="#" class="btn btn-large btn-success">Get Started</a>
	 </div>
</div>
 <div class="span2 pull-right">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
			    <li class="nav-header">What we are?</li>
			    <li class="active"><a href="#">Home</a></li>
			    <li><a href="#">Our Clients</a></li>
			    <li><a href="#">Our Services</a></li>
			    <li><a href="#">About Us</a></li>
			    <li><a href="#">Contact Us</a></li>
			    <li class="nav-header">Our Friend</li>
			    <li><a href="#">Google</a></li>
			    <li><a href="#">Yahoo!</a></li>
			    <li><a href="#">Bing</a></li>
			    <li><a href="#">Microsoft</a></li>
			    <li><a href="#">Gadgetic World</a></li>
			</ul>
          </div><!--/.well -->
        </div><!--/span-->
