<div class="span10 pull-left">
	<div class="hero-unit">
	    <h1>Enclosure Calculator</h1>
	 
	    <p>still under constriuction...try out two-way corssover calculator.</p>
	 
	    <a href="#" class="btn btn-large btn-success">Get Started</a>
	 </div>
</div>
   <div class="span2 pull-right sidebar-nav">
            <ul class="nav nav-list">
			    <li class="nav-header">Links</li>
			    <li class="active"><%= link_to "Home", main_home_path %></li>
			    <li><a href="http://reubenlecea.info/">About Me</a></li>
			    <li><a href="http://reubenlecea.info/">Contact Me</a></li>
			    <li class="nav-header">Cool Stuff</li>
			    <li><a href="http://www.parts-express.com/">Parts Express</a></li>
			    <li><a href="http://guides.rubyonrails.org/">Ruby on rails</a></li>
			    <li><a href="http://www.radiolab.org/">Radio Lab</a></li>
			    <li><a href="http://www.diyaudioandvideo.com/">diy audio</a></li>
			    <li><a href="http://www.engadget.com/">engadget</a></li>
			</ul>
          </div><!--/.well -->
		
        </div><!--/span-->
