
  
 <div class="span6 container-fluid pull-left">
  
   	<h2>Calculators</h2>
   	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" width="160" height="290" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="a">2-way crossover calculator</span> </a>
		  
		</div>
	</div>  
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" width="160" height="290" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="a">3-way crossover calculator</span> </a>
		  
		</div>
	</div>              
   <div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" width="160" height="225" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="b">enclosure calculator</span> </a>
		  
		</div>
	</div>        
 
 </div>
<div class="span6">
   <div class="row-fluid pull-right">
   	<h2>Other Links</h2>
   	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c45.45.563.563/s160x160/969385_10201623513171244_1547086790_n.jpg" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="a">about me</span> </a>
		  
		</div>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="https://s3.amazonaws.com/ksr/assets/000/833/099/72395fb344329bad64ee4b8fa31d6b51_large.jpg?1376596884" width="160" height="299" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="b">my projects</span> </a>
		  
		</div>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <img src="http://www.cleanuphacks.com/wp-content/uploads/2013/06/IT1.jpg" width="160" height="225" alt="Photo" class="img-circle">
		    </a>
			<a  href="" target="_blank"><span class="c">my resume</span> </a>
		  
		</div>
	</div>                
   </div> 
 </div>
 
 


