<div class="container-fluid pull-right">
   <div class="span9 col-category-relation">
   	<h2>Calculators</h2>
    <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
      <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
     <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>   
   </div>  
 </div>


<div class="container-fluid pull-left">
   <div class="span9 col-category-relation">
   	<h2>Other Stuff</h2>
    <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
      <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
     <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
     <a  href="" target="_blank">
    <img src="http://www.quackit.com/pix/byron_bay_225x169.jpg" alt="Photo" class="img-circle">
    </a>
                   
   </div>
       
 </div>
